.Dictionary {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.Dictionary-form {
  margin: 0 auto;
}

.Dictionary section {
  background-color: #dbe8ec;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 90%;
  padding: 6px 4px;
  border: 1px solid #6d92a0;
  border-radius: 5px;
  color: #333;
  text-align: center;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
  color: #022735;
}

.Dictionary h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
